* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container {
width: 100%;
max-width: 1272px;
margin: 0 auto;
font-family: Arial;
font-style: normal;
font-weight: normal;
}
/*  --- header start --- */
.main-header {
height: 275px;
background-color: #445161;
color: #fff;
padding: 25px 50px 0 50px;
display: flex;
justify-content: space-between;
}
.main-header-title {
font-size: 60px;
line-height: 69px;
margin-bottom: 40px;
font-style: normal;
font-weight: normal;
}
.main-header-list-item {
font-size: 20px;
line-height: 23px;
margin-bottom: 10px;
padding: 0 0 0 21px;
position: relative;
list-style-type: none;
}
.main-header-list-item::before {
content: "";
display: block;
width: 16px;
height: 13px;
position: absolute;
left: 0;
top: 0;
background-image: url(/img/Vector.png);
background-size: cover;
}
.main-header-list-item:last-child {
margin-bottom: 0;
}
.main-header-img {
background-color: #fff;
color: black;
height: 217px;
width: 472px;
display: block;
font-size: 20px;
}
/*  --- header end --- */
/*  --- main start --- */
/*  --- section about-product start --- */
.about-product {
padding: 45px 50px 0 50px;
height: 340px;
display: flex;
justify-content: space-between;
}
.about-produck-wrp {
width: 100%;
max-width: 646px;
}
.about-product-title {
color: #445161;
font-size: 30px;
line-height: 36px;
margin-bottom: 17px;
font-style: normal;
font-weight: normal;
}
.about-product-text{
font-size: 16px;
line-height: 24px;
color: #333333;
}
.about-product-text-first {
margin-bottom: 11px;
}
.about-product-video {
width: 430px;
height: 245px;
background-color: #445161;
}
/*  --- section about-product end --- */
/*  --- section dignity start --- */
.dignity {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 400px;
background-color: #F5F5F5;
padding: 25px 20px 0 50px;
font-style: normal;
font-weight: normal;
}
.dignity-title {
width: 100%;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #445161;
margin-bottom: 15px;
font-style: normal;
font-weight: normal;
}
.dignity-list {
width: 598px;
list-style-type: none;
}
.dignity-list-item {
font-size: 16px;
line-height: 24px;
color: #333333;
padding-left: 42px;
position: relative;
}
.dignity-list-item:first-child {
margin-bottom: 26px;
}
.dignity-list-item:last-child {
margin-top: 27px;
}
.dignity-list-item:before {
content: "";
display: block;
width: 34px;
height: 35px;
position: absolute;
left: 0;
top: 0;
background-image: url(/img/plus_icon.png);
background-size: cover;
}
/*  --- section dignity end --- */
/*  --- section screenshots start --- */
.screenshots {
max-height: 490px;
padding: 25px 12px 50px 50px;
display: flex;
flex-wrap: wrap;
}
.screenshots-title {
width: 100%;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #445161;
margin-bottom: 43px;
font-style: normal;
font-weight: normal;
}
.screenshots-cards {
display: flex;
width: 605px;
}
.screenshots-cards-first {
margin-bottom: 27px;
}
.screenshots-img {
background-color: #445161;
color: white;
height: 153px;
width: 202px;
display: block;
font-size: 15px;
margin-right: 14px;
}
.screenshots-block-text {
width: 389px;
}
.screenshots-cards-title {
font-size: 24px;
line-height: 30px;
color: #445161;
font-style: normal;
font-weight: normal;  
}
.screenshots-cards-title-first {
margin-bottom: 13px;
}
.screenshots-cards-text {
font-size: 16px;
line-height: 24px;
color: #333333;
}
/*  --- section screenshots end --- */
/*  --- section reviews start --- */
.reviews {
background-color: #F5F5F5;
max-height: 400px;
padding: 25px 50px 42px 62px;
display: flex;
flex-wrap: wrap;
}
.reviews-title {
height: 36px;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #445161;
width: 100%;
text-align: center;
margin-bottom: 31px;

}
.reviews-cards {
width: 539px;
display: flex;
}
.reviews-cards-first {
margin-right: 32px;
margin-bottom: 24px;
}
.reviews-cards-second {
margin-bottom: 24px;
}
.reviews-cards-third {
margin-right: 32px;
}
.reviews-cards-photo {
background-color: #445161;
color: white;
height: 66px;
width: 66px;
display: block;
font-size: 10px;
border-radius: 45px;
margin-right: 15px;
}
.reviews-cards-about {
padding: 16px 10px 5px 15px;
background: #EBEBEB;
border-radius: 5px;
width: 483px;
}
.reviews-cards-text {
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
position: relative;
}
.reviews-cards-text:before {
content: "";
display: block;
border: 20px solid transparent; 
border-right: 20px solid #EBEBEB;
position: absolute;
top: 20px;
left: -50px;
}
.reviews-cards-more, .reviews-cards-more:active{
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #989898;
text-decoration: none;
display: block;
margin-top: 5px;
}
.reviews-cards-more:hover{
color: white;
}
/*  --- section reviews end --- */
/*  --- section prices start --- */
.prices {
display: flex;
flex-wrap: wrap;
padding: 45px 137px 36px 145px;
}
.prices-title {
height: 36px;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #445161;
width: 100%;
text-align: center;
margin-bottom: 26px;
}
.prices-cards-wrp {
display: flex;
align-items: flex-end;
}
.prices-card {
width: 300px;
background: #445161;
border-radius: 5px;
border: 1px solid #445161;
padding: 14px 0 19px 0;
}
.prices-card-standart, .prices-card-premium {
margin-right: 45px;
}
.prices-card-title {
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
text-align: center;
width: 100%;
}
.prices-card-price {
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 30px;
color: #445162;
background-color: #fff;
text-align: center;
width: 100%;
display: block;
padding: 25px 0 16px 0;
margin: 7px 0;
}
.prices-card-list {
list-style-type: none;
}
.prices-card-list-item {
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-left: 20px;
}
.prices-card-button, .prices-card-button:active {
width: 262px;
height: 43px;
background: #FFFFFF;
margin: 0 auto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
color: #445161;
text-transform: uppercase;
border-radius: 5px;
margin: 14px 0 0 20px;
}
.prices-card-button:hover{
color: #FFFFFF;
background: #445161;
border: 2px solid white;
}
/*  --- section prices end --- */
/*  --- main end --- */
/*  --- footer start --- */
.main-footer {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
padding: 25px 0 50px;
background-color: #445161;
}
.main-footer_title {
display: block;
width: 100%;
margin: 0 0 43px 0;
color:  #ffffff;
font-size: 30px;
font-weight: normal;
line-height: 36px;
text-align: center;
}
.main-footer_form {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 500px;
margin: 0 45px 0 0;
}
.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
width: 100%;
height: 40px;
margin: 0 0 20px 0;
padding: 10px;
border: 1px solid gray;
border-radius: 5px;
background-color:  #ffffff;
outline: none;
text-transform: capitalize;
resize: none;
}
.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
background-color: gray;
color: white;
border-color: white;
}
.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
color: white;
}
.main-footer_form textarea {
width: 500px;
height: 170px;
border: 1px solid gray;
border-radius: 5px;
background-color:  #ffffff;
outline: none;
}
input[placeholder],
textarea[placeholder] {
text-overflow:ellipsis;
font-family: Arial;
color:  #445162;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}  
.main-footer_form input[type="submit"] {
border-radius: 5px;
background-color:  #ffffff;
width: 140px;
height: 40px;
text-transform: uppercase;
font-family: Arial;
color:  #445162;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
outline: none;
}
.main-footer_form input[type="submit"]:hover {
background-color: gray;
color: white;
}
.main-footer_form input[type="submit"]:active {
background-color:  #ffffff;
color:  #445162;
}
.main-footer_contacts {
width: 240px;
height: 300px;
}
.main-footer-contacts {
width: 204px;
color: white;
}
.main-footer-contacts-link {
display: block;
margin: 0 0 15px 0;
padding: 0 0 0 30px;
position: relative;
font-size: 16px;
line-height: 24px;
text-align: left;
}
.main-footer-contacts-link:last-of-type {
margin: 0 0 50px 0;
}
.main-footer-contacts-link::before {
content: "";
display: block;
width: 24px;
height: 24px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
top: 0;
left: 0;
}
.link1:before {
background-image: url(/img/skype.svg);
}
.link2:before {
background-image: url(/img/isq.svg);
}
.link3:before {
background-image: url(/img/mail.svg);
}
.link4:before {
background-image: url(/img/phone.svg);
}
.main-footer-contacts-icons {
display: flex;
justify-content: space-between;
}
.main-footer-contacts-net {
display: block;
width: 45px;
height: 45px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.icon1, .icon1:active{
background-image: url(/img/twiter.svg);
}
.icon2, .icon2:active{
background-image: url(/img/vk.svg);
}
.icon3, .icon3:active{
background-image: url(/img/google.svg);
}
.icon4, .icon4:active{
background-image: url(/img/facebook.svg);
}
.icon1:hover{
background-image: url(/img/twiter-hover.svg);
}
.icon2:hover{
background-image: url(/img/vk-hover.svg);
}
.icon3:hover{
background-image: url(/img/google-hover.svg);
}
.icon4:hover{
background-image: url(/img/facebook-hover.svg);
}
.copyright{
display: block;
width: 100%;
padding: 12px;
background: #F5F5F5;
text-align: center;
margin: 0 auto;
}
/*  --- footer end --- */